americal/classes/contentbasedroutingflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="contentbasedroutingflowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/router1" allowedMethods="POST" doc:name="HTTP"/>
        
        <choice doc:name="Choice">
            <when expression="#[message.payloadAS(java.lang.String).contains('SMS1')]">
                <flow-ref name="SMSROUTER1" doc:name="SMSROUTER11"/>
            </when>
            <when expression="#[message.payloadAS(java.lang.String).contains('SMS2')]">
                <flow-ref name="SMSROUTER2" doc:name="SMSROUTER22"/>
            </when>
            <when expression="#[message.payloadAS(java.lang.String).contains('SMS3')]">
                <flow-ref name="SMSROUTER3" doc:name="SMSROUTER33"/>
            </when>
            <otherwise>
                <set-payload value="There is no such router here" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="SMSROUTER1">
        <set-payload value="This is SMS router 1" doc:name="Set Payload"/>
    </flow>
    <flow name="SMSROUTER2">
        <set-payload value="This is SMS router 2" doc:name="Set Payload"/>
    </flow>
    <flow name="SMSROUTER3">
        <set-payload value="This is SMS router 3" doc:name="Set Payload"/>
    </flow>
</mule>
